[submodule "ip-derivative-agent/lib/forge-std"]
	path = ip-derivative-agent/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ip-derivative-agent/lib/openzeppelin-foundry-upgrades"]
	path = ip-derivative-agent/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
